<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Criar Vaga</title>
</head>
<body>

    {% include 'partials/_menu.html' %}
    {% include 'partials/_alertas.html' %}

    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="card" style="width: 100%; max-width: 640px;">
                <div class="card-body">
                    <div class="d-grid gap-3">
                        <div class="container">
                            <h1 class="text-center">Adicionar Experiência</h1>
                        </div>
                        {% if experiencias %}
                        <div class="container">
                            <ul>
                                {% for experiencia in experiencias %}
                                <h5>{{ experiencia.cargo }}
                                    <a href="{% url 'deletar_experiencia' experiencia.id %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg>
                                    </a>
                                </h5>
                                <li>{{ experiencia.experiencia }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        <form action="{% url 'adicionar_experiencia' aplicacao.id %}" method="post">
                          {% csrf_token %}
                          <div class="d-grid gap-2">
                              <div class="form-group">
                                <label for="cargo">Cargo</label>
                                <input type="text" class="form-control" id="cargo" name="cargo" placeholder="Cargo">
                              </div>
                              <div class="form-group">
                                <label for="experiencia">Experiência</label>
                                <input type="text" class="form-control" id="experiencia" name="experiencia" placeholder="Experiência, max: 400 caracteres">
                              </div>
                              <div class="d-grid gap-2">
                                <button class="btn btn-primary" type="submit">Adicionar</button>
                                <a href="{% url 'conhecimentos_candidato' aplicacao.id %}" class="btn btn-secondary" type="button">Finalizar</a>
                              </div>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>